@model prjEBDSystem.Models.ClassEBD

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm("Save", "ClassEBD"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Classe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <span class="label label-success">@TempData["SuccessMsg"]</span>
        <span class="label label-danger">@TempData["ErrorMsg"]</span>

        @Html.HiddenFor(model => model.IdClassEBD)
        <div class="form-group">
            @Html.LabelFor(model => model.NameClassEBD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameClassEBD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameClassEBD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.LabelFor(model => model.Departament)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Departament.IdDepartment, new SelectList(ViewBag.Departments, "IdDepartment", "NameDepartment"))
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.LabelFor(model => model.Period)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Period.IdPeriod, new SelectList(ViewBag.Periods, "IdPeriod", "NamePeriod"))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancelar", "Index", "ClassEBD", new { @type = "button", @class = "btn btn-default" })
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
