@model prjEBDSystem.Models.User

@{
    ViewBag.Title = "Novo";
}

<h2>Novo Usuário</h2>


@using (Html.BeginForm("Save", "User"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuário</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <span class="label label-success">@TempData["SuccessMsg"]</span>
        <span class="label label-danger">@TempData["ErrorMsg"]</span>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstNameUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstNameUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstNameUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastNameUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastNameUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastNameUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateBirthUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DateBirthUser,  new { @type = "date"})
                @Html.ValidationMessageFor(model => model.DateBirthUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoginUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoginUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                abcd12345 - senha deve ser trocada no primeiro login.
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.LabelFor(model => model.Profile)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Profile.IdProfile, new SelectList(ViewBag.Profile, "IdProfile", "NameProfile"))
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.LabelFor(model => model.ClassEBD)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ClassEBD.IdClassEBD, new SelectList(ViewBag.ClassEBD, "IdClassEBD", "NameClassEBD"))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancelar", "Index", "User", new { @type = "button", @class = "btn btn-default" })
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
