@model prjEBDSystem.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<h2>Insira a senha</h2>


@using (Html.BeginForm("Logar", "Login")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Insira a senha para @Html.DisplayFor(model => model.LoginUser)</h4>
        <hr />
        @Html.HiddenFor(model => model.IdUser)
        @Html.HiddenFor(model => model.LoginUser)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <span class="label label-success">@TempData["SuccessMsg"]</span>
        <span class="label label-danger">@TempData["ErrorMsg"]</span>
        
        <div class="form-group">
            @Html.LabelFor(model => model.PasswordUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.PasswordUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordUser, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancelar", "ConfirmLogin", "Login", new { @type = "button", @class = "btn btn-default" })
                <input type="submit" value="Entrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
