@model IEnumerable<prjEBDSystem.Models.Period>

@{
    ViewBag.Title = "Período";
}

<h2>Período</h2>

<p>
    @Html.ActionLink("Novo Periodo", "Create")
</p>

<span class="label label-success">@TempData["SuccessMsg"]</span>
<span class="label label-danger">@TempData["ErrorMsg"]</span>

<table class="table table-responsive table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamePeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamePeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdPeriod }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdPeriod }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.IdPeriod })
        </td>
    </tr>
}

</table>
