@model IEnumerable<prjEBDSystem.Models.Frequency>

@{
    ViewBag.Title = "Chamada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chamada</h2>

<p>
    @Html.ActionLink("Nova Chamada", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateFrequency)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateFrequency)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdFrequency }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdFrequency }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IdFrequency })
        </td>
    </tr>
}

</table>
